h1, h3, h5{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Tajawal', sans-serif;
    color: rgb(255, 153, 0) !important;
}
.h1_header{
    padding: 30px 0px;
}
.h1_feature{
    padding-bottom: 100px;
    color: rgb(15, 15, 15) !important;
}
.h1_adventures{
    padding-bottom: 100px;
    text-align: center;
}
.h1_story{
    padding-bottom: 30px;
}
.h1_contact{
    padding-bottom: 20px;
}
h3{
    color: rgb(70, 70, 70) !important;
}
.h3_pricing{
    color: rgb(255, 153, 0) !important;
    padding-bottom: 30px;
}
p{
    font-family: 'Ubuntu', sans-serif;
    color: rgb(207, 207, 207);
}
a{
    font-family: 'Ubuntu', sans-serif !important;
    color: rgb(207, 207, 207) !important;
    text-decoration: none !important;
}
.p_header{
    padding-bottom: 30px;
    width: 750px;
    margin: auto;
}
.nav_p{
    color: white;
}
strong{
    color: #FFA500;
}
#adventures, p{
    color: rgb(255, 255, 255);
}

i{
    padding-bottom: 20px;
    color: #FFA500;
}
.i_contact{
    padding-bottom: 0px;
}
img{
    width: 400px;
}
button{
    margin: 10px !important;
}
.carousel_header{
    width: 70%;
    margin: auto;
}
.pricing {
    text-align: center;
    margin-bottom: 50px;
}
.leaders{
    padding: 0 50px 30px 0px;
}
#header{
    background-color: rgb(12, 14, 26);
    padding: 3% 15% 7%;
    text-align: center;
}
#feature{
    text-align: center;
    padding: 5%;
    padding-bottom: 150px;
}
#adventures{
    background-color: rgb(12, 14, 26);
    padding: 7% 10%;
}
#statistics{
    text-align: center;
    padding: 5%;
    padding-bottom: 100px;
}
#story{
    background-color: rgb(12, 14, 26);
    padding: 7% 10%;
}


@media (max-width: 700px) {

    .h1_header{
        font-size: 10px !important;
        text-align: center !important;
    }

    .p_header{
        width: 290px !important;
    }

    .carousel_header{
        width: 500px;
        margin: auto;
    }
    .leaders{
        width: 500px;
        margin: auto;
    }

    .feature{
        margin: 30px !important;
    }

    img{
        width: 270px !important;
    }
    .img_certificats{
        padding-bottom: 30px;
    }
    .h1_story{
        padding-bottom: 15;
    }
}